.dropmenu-wrapper {
    --dropmenu-border-color: rgba(0, 0, 0, 0.1);
    --dropmenu-max-height: 0px;
    position: relative;

    [role="menu"] {
        /* display: none; */
        position: absolute;
        box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.16);
        max-height: var(--dropmenu-max-height);
        flex-direction: column;
        left: 0;
        right: auto;
        overflow: auto;
        top: calc(100% + 1px);
        bottom: auto;
        background-color: var(--colors-inputbg);
        padding: 0;
        margin: 0;
        width: 280px;
        z-index: 3;
        border-radius: 0.5rem;
        li {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0 var(--spacing-s);
            border-bottom: 1px solid var(--dropmenu-border-color);
            //   border-bottom: ${({ theme }) =>
            //     `1px solid ${
            //       theme.isDark ? 'rgba(255,255,255,0.1)' : 'rgba(0,0,0,0.1)'
            //     }`};
            &:last-of-type {
                border-bottom: 0;
            }
        }
        button {
            border-radius: 0;
            width: 100%;
            text-align: left;
            justify-content: flex-start;
            background-color: transparent;
            border: 0;
            color: var(--colors-primarybuttonbg);
            font-weight: bold;
            padding: 8px 0;
            cursor: pointer;
        }
        a {
            color: var(--colors-primary);
            text-decoration: none;
            padding: 0.5rem 0;
            font-weight: bold;
        }
    }
    &.from-right [role="menu"] {
        left: auto;
        right: 0;
    }
    &.from-bottom [role="menu"] {
        top: auto;
        bottom: calc(100% + 1px);
    }

    svg {
        margin: 0;
    }
}

.dropdown-button {
    display: flex;
    align-items: center;
    svg {
        transition: transform 0.1s ease;
        margin-right: 0.25rem !important;
    }
    .expanded {
        transform: rotate(180deg);
    }
}
