@import "../utils.scss";

.modal {
    max-height: 80%;
    max-width: 90vw;
    overflow: visible;
    width: 50rem;
    display: flex;
    flex-direction: column;
    position: relative;
    button.base-close-button {
        cursor: pointer;
        border: 0;
        z-index: 2;
        padding: 0;
        border-radius: 50%;
        background-color: var(--colors-primarybuttonbg);
        color: var(--colors-primarybuttoncolor);
        box-shadow: var(--elevation-small);
        position: absolute;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        right: -24px;
        top: -24px;
        width: 48px;
        height: 48px;
        font-size: 1.5rem;
        transition: transform 0.2s ease;
        svg {
            margin: 0;
        }
        &:hover {
            transform: scale(1.1);
        }

        @media screen and (max-width: $breakpoint-mobile-max) {
            width: 32px;
            height: 32px;
            right: -16px;
            top: -16px;

            svg {
                width: 12px;
                height: 12px;
            }
        }
    }
}
