.page-wrapper {
    width: 1024px;
    min-height: 100vh;
    max-width: 100%;
    margin: 0 auto;
    border-left: 1px solid var(--colors-silver);
    border-right: 1px solid var(--colors-silver);
}

.content-wrapper {
    padding: var(--spacing-l);
}

.travel-wrapper {
    display: flex;
    flex-direction: column;
}
