.page-wrapper {
    width: 1280px;
    min-height: 100vh;
    max-width: 100%;
    margin: 0 auto;
    border-left: 1px solid var(--colors-silver);
    border-right: 1px solid var(--colors-silver);
}

.content-wrapper {
    padding: var(--spacing-l);
}

.travel-wrapper {
    --fc-border-color: var(--colors-silver);
    display: flex;
    flex-direction: column;
}

.prop-title {
    color: var(--colors-text);
    opacity: 0.6;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.75rem;
    font-weight: bold;
}

.card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
}
