.textfield {
    --input-radius: 0;
    --size-input-default: 3rem;
    max-width: 100%;
    flex-grow: 1;
    transition: all 0.2s ease;
    color: var(--colors-text);
    border-radius: var(--input-radius);
    border: 1px solid #000;
    height: var(--size-input-default);
    padding: 0 var(--spacing-s);
    background-color: var(--colors-inputbg);
    &:focus {
        border-color: blue;
    }

    &.is-dirty:invalid,
    &.has-error {
        border-color: #ff0000;
        color: #ff0000;
    }

    &:disabled {
        opacity: 0.5;
    }
}
